# Created by .ignore support plugin (hsz.mobi)
### Composer template
node_modules
composer.phar
composer.lock
vendor/

### ZendFramework template

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

### CakePHP template
# CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

### Symfony template
# Cache and logs (Symfony2)
/symfony/app/cache/*
/symfony/app/logs/*
!/symfony/app/cache/.gitkeep
!/symfony/app/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
### Phalcon template
/cache/
/config/development/
### Kohana template
application/cache/*
application/logs/*
### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env

### Vagrant template
.vagrant/
### Symfony template
# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar


